.productSection {
    display: flex;

    justify-content: space-between;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #222;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
}

.productImage img {
    max-width: 208px;
    max-height: 208px;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.productImages img {
    max-width: 100px;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

.productImages img > *:not(:last-child) {
    margin-right: 0.5rem;
}

.productDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    padding: 1rem;
}

.ownerDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.productName {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.productDescription {
    font-size: small;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.ownerDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ownerName {
    font-size: small;
    font-weight: bold;
}

.otherProductsH3 {
    color: white;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.contenedorButtonProductPage {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.userButtonWrapper {
    background-color: green;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1.2rem;
    align-items: flex-end;
    cursor: pointer;
}

.productList {
    flex-wrap: wrap;
    gap: 1rem;
}

.productList .BigCardList {
    flex: 1 0 300px;
    max-width: 300px;
}

.otherProducts .otherProductsH3 {
    margin: 1rem;
}

.noImageMessage {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 450px) {
    .productSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .productImage img {
        width: 100%;
    }

    .productImages img {
        max-width: 50px;
        max-height: 50px;
        margin-bottom: 8px;
        border-radius: 50%;
    }

    .productDetails {
        padding: 0;
    }
}

@media (min-width: 600px) {
    .contenedorButtonProductPage {
        justify-content: flex-start;
    }
}
