.search-form {
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
}

.search-form > * {
    margin: 5px;
}

.inputPrice {
    background-color: #e28210;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 5px;
    outline: none;
}

.inputPrice::placeholder {
    color: white;
}

.Button-Search-Page {
    background-color: #e28210;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 5px 12px;
}
