.section-term-condition {
    padding: 2rem;
    color: white;
    background-color: #222;
    margin: 2rem;
    border-radius: 1rem;
}

.header-term-condition {
    display: flex;
    align-items: left;
    flex-wrap: wrap; 
}

.h1-term-condition {
    font-weight: 600;
    margin-bottom: 2rem;
}

.header-term-condition .h2-term-condition {
    font-weight: 300;
    margin-bottom: 2rem;
}

.h2-term-condition {
    font-size: 20px;
    margin-bottom: 2rem;
}

.li-term-condition > .h2-term-condition {
    
    margin-bottom: 0.5rem;
}

.li-term-condition {
    margin-bottom: 30px;
    list-style: none;
}

.p-term-condition {
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 4px;
    line-height: 1.5rem;
}

.span-term-condition{
    font-weight: bold;
    color: blue;
}