.container-userdeals {
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
  border-radius: 1rem;
}

.userdeals-h1 {
  text-align: center;
  font-size: 300;
  margin-top: 1.5rem;
}

.no-deals-text {
  font-size: 1.2rem;
  text-align: center;
  color:#e28210;
}

.no-deals-text img {
  max-width: 200px;
  height: auto;
  margin: 1.5rem;
  filter: sepia(60%) contrast(3.0) brightness(1.2);
}

.button-userdeals {
  cursor: pointer;
  background-color: #e28210;
  color: white;
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 12rem;
  margin: 2rem;
  transition: background-color 0.3s;
}

 .button-userdeals:hover {
  background-color: green;
}

@media (min-width: 768px) {
  .container-userdeals{
    background-color: #222;
  }
}
