.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin:2rem;
  z-index: 1000; /* Ensure the modal appears above other content */
}

.modal-content {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  width: 100%; 
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.deal-modal-h1{
  color:white;
  font-size: 20px;
  margin-bottom: 1rem;
  font-style: italic;
}

.modal-content input,
.modal-content textarea {
  padding: 10px;
  border: 1px solid orange;
  border-radius: 1rem;
  width: 100%;
}

.modal-content textarea {
  resize: vertical; /* Allow vertical resizing */
}

.modal-content button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: green;
}

.modal-content button:first-child {
  background-color: #ccc;
  color: white;
}

.modal-content button:first-child:hover {
  background-color: #aaa;
}

/* Horizontally align the inputs and buttons */
.modal-content > input,
.modal-content > textarea,
.modal-content > button {
  flex: 1 1 auto; /* Equally distribute space */
}

/* Button container */
.modal-content > div {
  display: flex;
  justify-content: space-between; /* Space between close and accept buttons */
}
