.box-content {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.boxH1 {
    margin-left: 2rem;
    font-size: medium;
}

.boxH2 {
    font-size:small;
    margin-bottom: 1rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #222;
    margin: 1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.paragraph {
    font-style: italic;
    overflow: hidden;  
}


.contenedorUser {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.imageUser {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
}

.text-wrapper {
    margin-left: 1rem;
}

.stars {
    margin-left: 1rem;
    width: 100px;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}
