.custom-select {
    position: relative;
}

.inputCustomSelect {
    background-color: #e28210;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 5px;
    outline: none;
}

.inputCustomSelect::placeholder {
    color: white;
}

.ulCustomSelect {
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #222;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.custom-select .liCustomSelect {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-select .liCustomSelect:hover {
    background-color: #e28210;
}
