.Ex-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.Ex-selection {
    padding: 10px;
}

.Ex-selection input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #e28210;
}

.Ex-selection input[type="checkbox"]:checked {
    background-color: orange;
    border: 1px solid white;
}

.Ex-image-item {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.Ex-image-item img {
    width: 100px;
    height: 100px;
}

.Ex-title-item {
    color: white;
    font-size: medium;
    margin-bottom: 0.5rem;
}

.Ex-paragraph-item {
    color: grey;
    font-style: italic;
    font-size: small;
}
