.item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.selection {
  padding: 10px;
}

.selection input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid white;
}

.selection input[type="checkbox"]:checked {
  background-color: white;
}

.imageItem {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}

.imageItem img {
  max-width: 100%;
  height: auto;
}

.textItem {
  flex-grow: 1;
}

.titleItem {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 5px 0;
  color: white;
}

.paragraphItem {
  font-size: 14px;
  color: white;
  margin: 5px 0;
}

.nameUser {
  font-size: 12px;
  color: white;
  margin: 5px 0;
}
