/* Footer*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 2rem;
}
.section1 {
    margin-bottom: 1.5rem;
}

.ulFooter li {
    list-style: none;
    margin-bottom: 0.5rem;
    margin-bottom: 20px;
}

.ulFooter2 li {
    list-style: none;
    margin-bottom: 0.5rem;
    margin-bottom: 20px;
}

.ulFooter li a {
    font-size: small;
    text-decoration: none;
    color: grey;
}

.ulFooter2 li a {
    font-size: small;
    text-decoration: none;
    color: grey;
}

.footerContact {
    color: grey;
    font-size: small;
    word-spacing: 4px;
    line-height: 1.5rem;
}

.footerContact {
    font-weight: bold;
    color: white;
}

.section3H3,
.section2H3 {
    color: white;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.logoFooter {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.section1 .aFooter1 {
    text-decoration: none;
}

.footer .footerH2 {
    font-size: 2rem;
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-bottom: 0.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.copyrightFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}

@media (min-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .section1,
    .section2,
    .section3,
    .section4 {
        padding: 1rem;
    }

    .logoFooter {
        width: 100px;
        height: 100px;
    }
}
