.navPrincipal {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "logo popupHome"
    "navbar navbar";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}
.logo {
  grid-area: logo;
  background-image: url(${logo});
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 2rem;
}

/* button login*/

.material-symbols-rounded {
  color: rgb(210, 210, 210);
}

.aButtonLogin {
  text-decoration: none;
}

.popupHome {
  grid-area: popupHome;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 4.5rem;
  height: 2rem;
  padding: 6px;
  border: rgb(210, 210, 210);
  background-color: transparent;
  color: grey;
  border-style: solid;
  border-width: thin;
  border-radius: 2rem;
  cursor: pointer;
}

.popupHome .userhome {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  grid-area: navbar;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 12rem;
  }
}

.menuDropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 9999;
}

.menuDropdown div {
  padding: 8px;
  cursor: pointer;
}

.menuDropdown div:hover {
  background-color: #f1f1f1;
}

.userMenu {
  position: relative;
}
