/*Page section*/

.pageSectionNav {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30rem;
    margin: 2rem 1rem;
    align-items: center;
    border-radius: 16px;
    background-color: white;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageSectionNav h1 {
    margin-top: 2rem;
    color: black;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -0.065rem;
}

.pageSectionNav h2 {
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: -0.125rem;
}
.h2CardList,
.h2BigCardList{
    color:white;
    font-weight: 300;
    margin: 2rem 1rem 2rem;
}

.pageSectionNav .sectionLinks .buttonPageSection {
    display: inline-block;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
    width: 12rem;
    margin-top: 2rem;
}

.pageSectionNav .sectionLinks .buttonPageSection a {
    color: white;
    text-decoration: none;
}

.pageSectionNav .sectionImage {
    width: 20rem;
    height: 15rem;
    padding: 1.0rem;
    object-fit: contain;
}



/* Estilos para tablets y pantallas medianas */

@media (min-width: 768px) {
    /*pagesection*/

    .pageSectionNav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .leftContainer {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 3rem;
        gap: 0.5rem;
    }

    .rightContainer {
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .sectionImage {
        max-width: 100%;
        height: auto;
    }

    .pageSectionNav .sectionLinks .buttonPageSection {
        background-color: #e28210;
        border-radius: 2.5rem;
    }
    
    /* Footer*/
}
