.item-pocket {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: #222;
    /* border-style:dashed;
    border-color: #e28210; */
}

.itemH1 {
    color: white;
    font-size: medium;
    margin: 1rem;
}

.titleItem {
    margin-bottom: 0.5rem;
}

.textItem {
    padding: 0.5rem;
}

.textItem .paragraphItem {
    margin-bottom: 1rem;
    color: grey;
    font-style: italic;   
}


.titleItem,
.nameUser {
    font-size: small;
}

.item-pocket .textItem {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.imageItem {
    padding: 0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imageItem img {
    border-radius: 1rem;
    width: 100px;
    height: 100px;
}

@media (min-width: 768px) {
    .item {
        display: flex;
    }
}
