/* .productContent {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .productContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; 
  }
  
  .product {
    background-color: #222;
    padding: 2rem;
    display: grid; 
    grid-template-areas: 
      "image"
      "text"
      "userButton";
    grid-gap: 1rem; 
    border-radius: 1rem;
  }
  
  .imageProduct {
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 200px;
    border-radius: 1rem;
    grid-area: image; 
  }
  
  .textProduct {
    color: white;
    grid-area: text; 
    text-align: left; 
  }
  
  .categoriesProduct {
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
  }
  
  .nameProduct {
    font-size: 2rem;
  }
  
  .userButtonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: userButton; 
  }
  
  .userName {
    font-size: 1rem;
  }
  
  button {
    background-color: green;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
   */

   /* @media (max-width: 768px) {
    .itemsContainer {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        
    }
    .itemsContainer .item {
        margin:1rem;
    }
}

.productContent {
    margin: 1rem;
    margin-bottom: 2rem;
}

.productContainer {
    display: flex;
    justify-content: space-around;
}

.product {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
    padding:0.5rem;
    border-radius: 1rem;
    background-color: #222; */
    /* border-style:dashed;
    border-color: #e28210; */


/* .productH1 {
    color: white;
    font-size: medium;
    margin:1rem;
}

.categoriesProduct {
    margin-bottom: 0.5rem;
}

.textProduct .paragraphProduct {
    margin-bottom: 1rem;
    color: grey;
    font-style: italic;
}

.categoriesProduct,
.nameProduct
.userName {
    font-size: small;
}

.product .textProduct {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.imageProduct {
    width: 250px;
    height: 100px;
    background-size: cover;
    
}



.userButtonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: userButton; 
  }
  button {
    background-color: green;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  } */