.location-select {
  position: relative;
}

.location-select input {
}

.location-select ul {
  position: absolute;
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 100;
}

.location-select li {
  padding: 8px 12px;
  cursor: pointer;
  color: white;
}

.location-select li:hover {
  background-color: #555;
}
