.productListContent {
  margin: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productUser {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #222;
  border-radius: 1rem;
}

.productListH1 {
  color: white;
  font-size: medium;
  margin: 1rem;
}

.titleProduct {
  margin-bottom: 0.5rem;
}

.aTitleProduct {
  text-decoration: none;
  color: inherit;
}

.textProductList .paragraphProductList {
  margin-bottom: 1rem;
  color: grey;
  font-style: italic;
}

.textProductList .paragraphProductList a {
  text-decoration: none;
  color: inherit;
}

.titleProduct,
.nameUserProduct {
  font-size: small;
}

.productUser .textProductList {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.imageProduct {
  width: 100px;
  height: 100px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageProduct img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5%;
}
