.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;   
}

.popup-content {
    background-color: white;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-bottom: 0.5rem;   
}

.popup h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 1.0rem;
}

.popup h3 {
    margin-top: 16px;
    font-size: 18px;
}

.popup form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.popup label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.popup input {
    border:none;
    border-bottom:1px solid #ccc;
    padding:8px;
}

.popup button {
    padding: 8px 16px;
    border: none;
    border-radius: 2rem;
    background-color:#e28210;
    color: white;
    cursor: pointer;
    margin-top: 16px;
}

.popup button[type="submit"] {
    background-color: black;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}


