.rating-modal {
  position: fixed; /* Fixed position */
  top: 0; /* Start from the top */
  left: 0; /* Start from the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex; /* Center the content */
  justify-content: center;
  align-items: center;
  color: black;
}

.rating-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rating-modal label {
  display: block;
  margin-bottom: 10px;
}

.rating-modal textarea {
  width: 100%;
  min-height: 80px;
  margin-bottom: 15px;
}

.rating-modal button {
  margin-right: 10px;
}
