.AddProduct-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #222;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

.title {
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-form {
  width: 100%;
}

.form-right {
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: grey;
}

.form-input {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: grey;
  margin-bottom: 0.5rem;
}

.form-input-description {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: grey;
  margin-bottom: 0.5rem;
}

.labelCategory,
.labelItem {
  color: white;
  margin-bottom: 0.5rem;
}

.preview {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.preview-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.submit-btn {
  padding: 10px 35px;
  border: none;
  color: white;
  background-color: #e28210;
  cursor: pointer;
  border-radius: 1rem;
}

.submit-btn:hover {
  background-color: #666;
}
.image-preview {
  position: relative;
  display: inline-block;
  margin: 1rem 0rem 1rem 0rem;
}

.image-preview button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e28210;
  color: white;
  padding: 7.5px;
  margin: 2px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .product-form {
    display: flex;
    flex-direction: row-reverse;
  }
  .form-right {
    flex: 1 1 50%;
    margin-left: 2rem;
    margin-bottom: 0rem;
  }

  .form-left {
    flex: 0 0 auto;
  }
  .title {
    text-align: left;
    margin-right: auto;
  }
}
