.sectionCareers {
    text-align: center;
    padding: 2rem;
    color: white;
    background-color: #222;
    margin: 2rem;
    border-radius: 1rem;
}

.headerCareers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.imgCareers {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.headTextCareers {
    text-align: left;
    margin-bottom: 30px;
}

.h1Careers {
    font-size: 40px;
    margin: 0;
}

.h2Careers {
    font-weight: 300;
    margin: 1rem 0rem 2rem;
}

.mainUl {
    text-align: left;
}

.liCareers {
    margin-bottom: 30px;
    list-style: none;
}

.liCareers > h3 {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.pCareers {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    word-spacing: 4px;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .headerCareers {
        display: flex;
    }
    .imgCareers {
        flex: 0 0 auto;
    }

    .headTextCareers {
        flex: 1 1 50%;
    }
}
