.sectionExchangeGuide {
<<<<<<< HEAD
=======
    text-align: left;
>>>>>>> c93d4baa6281ce5d71ab77e05061c38440d5e2d6
    padding: 2rem;
    color: white;
    background-color: #222;
    margin: 2rem;
    border-radius: 1rem;
}

.headerExchangeGuide {
    display: flex;
    align-items: left;
    flex-wrap: wrap; 
}

.headTextExchangeGuide {
    margin-bottom: 30px;
}

.h1ExchangeGuide {
<<<<<<< HEAD
    font-weight: 600;
=======
    font-weight: 400;
>>>>>>> c93d4baa6281ce5d71ab77e05061c38440d5e2d6
    margin-bottom: 2rem;
}

.h2ExchangeGuide {
<<<<<<< HEAD
    font-weight: 600;
=======
    font-weight: 300;
>>>>>>> c93d4baa6281ce5d71ab77e05061c38440d5e2d6
    margin-bottom: 2rem;
}

.liExchangeGuide {
    margin-bottom: 30px;
    list-style: none;
}

.liExchangeGuide > h3 {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.pExchangeGuide {
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 4px;
    line-height: 1.5rem;
}