.exchange-product-container {
    background-color: #222;
    color: white;
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 1rem;
}

.exchange-product-title {
    font-size: 24px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.exchange-product-subtitle {
    font-size: 20px;
    margin-bottom: 15px;
}

.exchange-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exchange-product-review {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.exchange-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.Step-H2 {
    color: green;
    margin-top: 1.5rem;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 1.5rem;
}

.Step-H2-normal {
    color: #e28210;
    margin-top: 1.5rem;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 1.5rem;
}

.Step-H2-user,
.Step-H3 {
    color: yellow;
    margin-top: 1.5rem;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 1.5rem;
}

.Step-Buttons-Exchange-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 1rem;
}

.exchange-product-button-back {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1rem;
    transition: background-color 0.3s;
}

.exchange-product-button-back:hover {
    background-color: #e28210;
    color: white;
}

.exchange-product-button {
    background-color: #e28210;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.exchange-product-button:hover {
    background-color: green;
    color: white;
}

.exchange-product-button-3 {
    background-color: transparent;
    color: #e28210;
    border: 1px solid #e28210;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.exchange-product-button-3:hover {
    background-color: green;
    color: white;
}
