.loginPage {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, black, rgba(226, 130, 16, 0.8), black);
  background-image: linear-gradient(to bottom, black, rgba(226, 130, 16, 0.8));
  background-position: 0 0;
  background-size: 100% 200%;
  transition: background-position 0.5s ease-in-out;
}

.loginPage:hover {
  background-position: 0 100%;
}

.loginForm {
  background-color: white;
  max-width: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem; 
}

.loginForm h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.loginForm h2 {
  margin-top: 16px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.inputLogin .inputLogin2 {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
}

.loginForm label {
  display: block;
  margin-bottom: 5px;
}

.loginPage > .loginForm > .loginButton {
  width: 100%;
  padding: 10px;
  background-color: #e28210;
  border: none;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.loginPage .loginForm .loginButton:hover {
  background-color: grey;
}

.loginForm p {
  text-align: center;
}

.loginForm a {
  color: black;
}

.pLogin {
  color: grey;
  font-size: small;
}

.pLogin .registerLogin {
  font-weight: bold;
  text-decoration: none;
}

