.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.login-form {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.login-form h1,
.login-form h2 {
  text-align: center;
}

.login-form div {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: grey;
}

.login-form p {
  text-align: center;
}

.login-form a {
  color: black;
}
