
.pageCategories {
    display: flex;
    padding: 1rem;
    background-color: white;
    height: 600px;
    width: 600px;
    border-style: solid;
    border-radius: 1rem;
}

.title {
    color: darkgoldenrod;
    font-size: 2rem;
    padding: 1.5rem;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
    align-content: space-around;
    gap: 1rem;
}
.categories div {
    height: 60px;
    width: 100px;
}
.icon {
    padding: 0.5rem;
    background-color: rgb(12, 11, 11);
    color: darkgoldenrod;
    font-size: 32px;
    border-style: solid;
    border-radius: 50%;
    border: hidden;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-top: 0.5rem;
}
