.navPrincipal {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "logo popupHome"
    "navbar navbar";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}
.logo-header {
  grid-area: logo;
  background-image: url(${logo});
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 8rem;
  height: 2rem;
}

.material-symbols-rounded {
  color: rgb(210, 210, 210);
}

.aButtonLogin {
  text-decoration: none;
}

.popupHome {
  grid-area: popupHome;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 4.5rem;
  height: 2rem;
  padding: 6px;
  border: rgb(210, 210, 210);
  background-color: transparent;
  color: grey;
  border-style: solid;
  border-width: thin;
  border-radius: 2rem;
  cursor: pointer;
}

.popupHome .userhome{
  height: 1.25rem;
  width: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.popupHome .userhome img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  grid-area: navbar;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 12rem;
  }
}

.menuDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 100%;
  border-radius: 1rem;
  background-color: #222;
  color: white;
  border: 2px solid #e28210;
  padding: 12px 18px;
  margin: 0.5rem 0rem;
  opacity: 0.95;
}

.menuDropdown div {
  padding: 8px;
  cursor: pointer;
}

.menuDropdown div:hover {
  background-color: #e28210;
  border-radius: 1rem;
  border: 1px solid white;
}

.userMenu {
  position: relative;
}

@media (min-width: 768px) {
  .menuDropdown {
    display: flex;
    flex-direction: row;
    margin: -2.5rem 5rem -0rem 0rem;
    padding: 6px 18px;
  }

  .menuDropdown div:hover {
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #e28210;
    color: #e28210;
  }
}
