.location-select {
  position: relative;
}

.location-select .location-select-2{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 8px;
  outline: none;
  transition: border-bottom-color 0.3s;
}

.location-select .location-select-2:focus{
  border-bottom-color: orange;
  box-shadow: 0 0 5px orange;
  border-radius: 1rem;
}

.location-select ul {
  position: absolute;
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 100;
}

.location-select li {
  padding: 8px 12px;
  cursor: pointer;
  color: white;
}

.location-select li:hover {
  background-color: #555;
}
